.wrapper {
    width: 60%;
    height: 100%;
    padding: 0 30px 0 30px;
}

.person {
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person .info .address {
    display: flex;
    align-items: baseline;
}

.person .avatar {
    width: fit-content;
    margin: 0 20px;
}

.person .info {
    width: 60%;
}

@media (max-width: 1000px) {
    .person {
        flex-direction: column;
        justify-content: flex-start;
    }
    .person .avatar {
        margin-bottom: 20px;
    }
    .person .info {
        width: 100%;
    }
}