.wrapper {
    width: 60%;
    height: 100%;
    padding: 0 60px 0 60px;
}

.person {
    height: 100%;
}

.person * {
    height: auto;
    width: auto;
    margin: 0;
}

.person .address {
    float: left;
}