.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-container {
    display: flex;
    width: 80vw;
    height: 80vh;
    background: rgba(182, 167, 167, 0.733);
}

.App-search-section {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.App-output {
    background: grey;
    width: 60%;
    height: 100%;
}